@font-face {
    font-family: 'Gotu';
    src: url('./fonts/Gotu-Regular.otf') format('opentype'),
         url('./fonts/Gotu-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
     font-family: 'Avenir';
     src: url('./fonts/avenir-font/AvenirLTStd-Black.otf') format('opentype'),
          url('./fonts/avenir-font/AvenirLTStd-BlackOblique.otf') format('opentype'),
          url('./fonts/avenir-font/AvenirLTStd-Book.otf') format('opentype'),
          url('./fonts/avenir-font/AvenirLTStd-BookOblique.otf') format('opentype'),
          url('./fonts/avenir-font/AvenirLTStd-Heavy.otf') format('opentype'),
          url('./fonts/avenir-font/AvenirLTStd-HeavyOblique.otf') format('opentype'),
          url('./fonts/avenir-font/AvenirLTStd-Light.otf') format('opentype'),
          url('./fonts/avenir-font/AvenirLTStd-LightOblique.otf') format('opentype'),
          url('./fonts/avenir-font/AvenirLTStd-Medium.otf') format('opentype'),
          url('./fonts/avenir-font/AvenirLTStd-MediumOblique.otf') format('opentype'),
          url('./fonts/avenir-font/AvenirLTStd-Oblique.otf') format('opentype'),
          url('./fonts/avenir-font/AvenirLTStd-Roman.otf') format('opentype');
  }